body {
    padding-top: 80px;
}

.zf-green {
    color: #ffffff;
}


.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.navbar-brand button{
    margin: 0 auto;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
}
.menu{
    background-color: #343a40!important;

}
.sunujumb{
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #4fd4a8b7;
    border-radius: 0.3rem;
}
.samabtn{
    background-color: #343a40 !important;
    color:#ffffff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #ffffff;
}
.samabtn:hover{
    background-color:  #ffffff!important;
    color:#343a40;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #343a40;
}
.nav-active{
    background-color: #4fd4a8b7;
    color:#ffffff;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .3rem;
}
.nav-link:hover {
    color: #4fd4a8b7!important;
}
.nav-active:hover{
    background-color: #ffffff;
    color:#343a40 !important;
    border: 1px solid #4fd4a8b7;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .3rem;
}
.titre{
    padding-bottom: .4rem;
    background-color: #343a40;
    color: #ffffff;
}
.corps{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #4fd4a8b7;
    border-radius: 50%!important;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service{
    margin: 1.5rem 0;
    text-align: center!important;
}
.service-row  .header{
    border-radius: 50%;
    height: 110px;
    width: 110px;
    text-align: center;
    padding: 15px 15px;
    background-color: #4fd4a8b7;
}
.service-container{
    width: 130px;
    margin: 20px auto;
}
.service-container .header{
    margin: 0 auto;
}
.service-row  .header img{
    margin-top: auto;
    margin-bottom: auto;
}

.main{
    background-color: #343a40;
    text-align: center;
    margin: auto;
}
.icone{
    text-align: center;
    padding-top: 40px;
}
.carousel img {
    width: 100%;
    height: auto;
}

.carousel-control-prev-icon{
    background-image: url(../img/prev.svg);
}
.carousel-control-next-icon{
    background-image: url(../img/next.svg);
}
.footer{
    padding: 20px 0;
    background-color: #343a40;
    color: white;
    width: 100%;
}
.footer a {
    text-decoration: none;
    color: #ffffff;
}
.footer a:hover {
    color: #4fd4a8b7;
}
.footer hr {
    border: 1px solid white;
}
.footer .table{
    background-color: inherit;
}
.footer ul{
    list-style: none;
}
.footer ul li {
    display: inline-block;
    margin-left: 10px;
}
.footer form{
    display: inline-block;
    width: 100%;
}
.footer input[type="email"]{
    float: left;
    width: 70%;
    padding: .375rem .75rem;
}
.footer button{
    float: right;
    width: 25%;
}

.foot{
    width: 100%!important;
}
.historique{
    background-color: #4fd4a8b7;
    padding: 2% 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.objectif{
    background-color: #343a40;
    color: #ffffff;
    padding: 2% 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.row hr{
    size: 2px;
    border: 1px solid #343a40;
}
.info{
    background-color: #4fd4a8b7;
    padding: 20px;
}
.info a{
    font-size: 1rem;
    text-decoration: none;
    color: #343a40;
}
.info a:hover {
    text-decoration: none;
    color: #ffffff;
}
.info .text{
    margin-bottom: 15px;
}
.con{
    padding: 20px 10px;
    color: white;
    background-color: #000000d5;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.con::after {
    content: "";
    background-image: url("../img/LOGO1.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.con input, .con  textarea {
    color: white;
    background-color: #343a4028;
}
.con input:hover{
    background-color: #4fd4a8b7;
}
.card{
    margin: 5px 5px;
}
.card-img-top-costum {
    position: relative;
    top: 50%;
    left: calc(50% - 40px);
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
    padding: 20px auto;
}
.suive ul{
    list-style: none;
    padding: 5px 0;
}
.suive ul li {
    display: inline-block;
}

.localisation{
    padding: 20px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
    background-image: url("../img/capt.png");
}
.localisation > div{
    padding: 2px 10px;
    text-align: center;
    width: 100%;
    background: rgba(28, 28, 28, 0.84);
    color: white;
    opacity: 1;
}
.localisation button {
    margin-top: 20px;
    margin-bottom: 0;
}